# Ringba Configuration
RINGBA_CAMPAIGN_NAME=SPANISH DEBT | 3.5 STANDARD | 01292025
RINGBA_TARGET_NAME=-no value-

# Google Sheets Configuration
GOOGLE_SHEET_ID=1VDloSHG41df3T5O3E1bOetclcmsFz2te4uQKUScMPu4
GOOGLE_SHEET_TAB=Sheet1
GOOGLE_CREDS_FILE=credentials.json

# Slack Configuration
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/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

# Local Server Configuration
FLASK_ENV=production
FLASK_DEBUG=False
HOST=0.0.0.0
PORT=5000
